/* rgba(212,176,133), rgba(254,237,186) */
/* @import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800;900&display=swap"); */

#gradient-canvas {
	/* width: 100%;
	height: 100%; */
	/* --gradient-color-1: #04f2da;
	--gradient-color-2: #0491ea;
	--gradient-color-3: #04b6e7;
	--gradient-color-4: #176bfc; */
	/* z-index: -1; */
	/* חשוב-סדר כניסה/הרשמה */
	position: fixed;
	filter: brightness(85%) saturate(140%);
	top: 0;
}
body{
	background-image:url(../pics/home/3.webp);
	margin: 0;
	align-items: center;
	font-size: 12px;
	background-color: rgb(212, 176, 133);
	color: #a8a2a0;
}
div {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	text-wrap: balance;
	font-family: "Mukta", sans-serif;
}

.main {
	position: relative;
	width: 1000px;
	min-width: 1000px;
	min-height: 600px;
	height: 600px;
	background: rgba(255, 0, 0, 0.01);
	backdrop-filter: blur(24px) saturate(120%);
	-webkit-backdrop-filter: blur(24px) saturate(120%);
	box-shadow: 0 0 10px 10px rgba(254,237,186);
	border-radius: 12px;
	overflow: hidden;
}

.container {
	position: absolute;
	top: 0;
	width: 600px;
	height: 100%;
	background-color: rgba(254, 237, 186, 0.358);
	transition: 1.25s;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.input-box {
	position: relative;
}

.form__input {
	width: 336px;
	height: 48px;
	margin: 4px 0;
	padding-left: 24px;
	letter-spacing: 0.15px;
	border: none;
	border-radius: 8px;
	background-color: #ffffff;
	transition: 0.2s ease;
	box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
	font-family: "Mukta", sans-serif;
}

.extra-margin-top {
	margin-top: 12px;
}

.form__input:focus {
	box-shadow: inset 6px 6px 4px #d1d9e6, inset -6px -6px 4px #f9f9f9;
}

.moving_placeholder {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 56px;
	font-size: 14px;
	font-weight: 700;
	padding: 0 24px;
	transition: 0.5s;
	pointer-events: none;
	letter-spacing: 0.15px;
	font-family: "Mukta", sans-serif;
}

.input-box input:focus + .moving_placeholder,
.input-box input:valid + .moving_placeholder {
	top: -32px;
	left: -20px;
}

.title {
	font-size: 40px;
	font-weight: 900;
	line-height: 1.7;
	color: #181818;
	transition: 0.5s ease-in-out;
	z-index: 9;
}

.switch__title.title {
	color: #ecf0f3;
}

.description {
	font-size: 14px;
	letter-spacing: 0.25px;
	text-align: center;
	line-height: 1.6;
	color: #ecf0f3;
	transition: 0.2s ease-in-out;
	z-index: 9;
}

.button {
	width: 192px;
	height: 48px;
	border-radius: 24px;
	margin-top: 20px;
	font-weight: 700;
	letter-spacing: 1.15px;
	background: rgba(255, 255, 255, 0.01);
	backdrop-filter: blur(24px) saturate(120%);
	-webkit-backdrop-filter: saturate(120%);
	color: #f9f9f9;
	border: none;
	transition: 0.2s ease-in-out;
	cursor: pointer;
}

.button:hover {
	transform: scale(0.985);
	transition: 0.25s;
}

.button:active,
.button:focus {
	box-shadow: 2px 2px 6px rgba(209, 217, 230, 0.65) inset,
		-2px -2px 6px rgba(249, 249, 249, 0.65) inset;
	transform: scale(0.97);
	transition: 0.25s;
}

.form__button {
	background: rgb(212, 176, 133);
	border-radius: 8px;
	width: 362px;
	height: 36px;
	letter-spacing: normal;
	font-size: 12px;
}

.switch .button {
	box-shadow: 2px 2px 16px rgba(209, 217, 230, 0.65) inset,
		-2px -2px 16px rgba(249, 249, 249, 0.65) inset;
}

.sign-up-container {
	left: calc(100% - 600px);
	z-index: 0;
}

.login-container {
	left: calc(100% - 600px);
	z-index: 100;
}

.switch {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 400px;
	z-index: 200;
	transition: 1s;
	background: rgba(255, 255, 255, 0.01);
	backdrop-filter: blur(32px) saturate(120%);
	-webkit-backdrop-filter: saturate(120%);
	overflow: hidden;
}

.switch__circle {
	position: absolute;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.01);
	backdrop-filter: blur(24px) saturate(120%);
	-webkit-backdrop-filter: saturate(120%);
	box-shadow: inset 4px 4px 12px rgba(209, 217, 230, 0.65),
		inset -4px -2px 12px rgba(249, 249, 249, 0.65);
	bottom: -70%;
	left: -60%;
	transition: 1.25s;
}

.switch__circle--t {
	top: -35%;
	left: 60%;
	width: 300px;
	height: 300px;
}

.switch__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px 55px;
	transition: 1s;
}

.switch__button:hover {
	box-shadow: 6px 6px 10px rgba(209, 217, 230, 0.65) inset,
		-6px -6px 10px rgba(249, 249, 249, 0.65) inset;
	transform: scale(0.985);
	transition: 0.25s;
}

.switch__button:active,
.switch__button:focus {
	box-shadow: 2px 2px 6px rgba(209, 217, 230, 0.65) inset,
		-2px -2px 6px rgba(249, 249, 249, 0.65) inset;
	transform: scale(0.97);
	transition: 0.25s;
}

/* Animation & State Classes */

.is-txr {
	left: calc(100% - 400px);
	transform-origin: left;
}

.is-txl {
	left: 0;
	transform-origin: right;
}

.is-z200 {
	z-index: 200;
	transition: 1s;
}

.is-hidden {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: 1.25s;
	filter: blur(12px);
}

.is-gx {
	animation: is-gx 1.25s;
}

.is-gx .title {
	filter: blur(6px);
	transition: 0.25s;
}

.is-gx .description,
.is-gx .button,
.is-gx .switch__circle {
	filter: blur(6px);
}

.switch__circle--t.is-txr {
	left: -10%;
}

/* Keyframes */
/* 
@keyframes is-gx {
	0%,
	10%,
	100% {
		width: 400px;
	}
	30% {
		width: 500px;
	}
}

/* Responsive Design */

/* @media screen and (max-width: 1080px) {
	.main {
		min-width: 90%;
		width: 90%;
		min-height: 700px;
		height: 94%;
	}

	.switch {
		height: 300px;
		width: 100%;
	}

	.container {
		top: 300px;
		left: 0;
		width: 100%;
		height: calc(100% - 300px);
	}

	.is-txr {
		left: 0;
		top: calc(100% - 300px);
	}

	.is-txl {
		top: 0;
	}

	.switch__circle {
		bottom: -100%;
		left: -55%;
		top: 20%;
	}

	.switch__circle--t {
		left: 85%;
		top: -40%;
	}

	.switch__circle.is-txr {
		top: -70%;
		bottom: 0;
	}

	.switch__circle--t.is-txr {
		top: 30%;
		left: 85%;
	}

	.is-gx {
		width: 100%;
		animation: is-gx-mobile 1s;
	}

	@keyframes is-gx-mobile {
		0%,
		10%,
		100% {
			height: 300px;
		}
		30% {
			height: 400px;
		}
	}
} */

/* @media screen and (max-width: 450px) {
	.form__input {
		width: 280px;
	}

	.title {
		line-height: 1.1;
		text-align: center;
		margin-bottom: 20px;
	}

	.button {
		margin-top: 24px;
	}

	.switch__circle {
		box-shadow: inset 4px 4px 12px rgba(209, 217, 230, 0.15),
			inset -4px -2px 12px rgba(249, 249, 249, 0.15);
	}
} */

/* @media screen and (max-width: 370px) {
	.title {
		font-size: 32px;
	}

	.moving_placeholder {
		font-size: 12px;
		font-weight: 600;
	}
}

@media screen and (max-height: 740px) {
	body {
		height: 100%;
	}

	.main {
		margin: 4% 0;
	}
}

@media screen and (max-width: 340px) {
	.form__input {
		width: 100%;
	}
} */ 
